:root {
  --black: #111121;
  --grey: #a6a6a6;
  --darkgrey: #585859;
  --darkteal: #a9ded4;
  --teal: #a9ded4;
  --white: #f7f8fa;
  --brightred: #d92525;
  --darkred: #591c21;
  --red: #8c1f28;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --font-size: 1.3rem;
  --mono: "Fira Mono", monospace;
  --sans: "Fira Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--brightred);
  transition: .1s ease-out;
}

a:hover {
  color: var(--magenta);
  text-decoration: none;
  transform: scale(1.1);
  transition: .05s ease-in;
}

/* intro styles */

.title {
  padding: 4rem 1rem 10rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.title p {
  font-size: 1rem;
  line-height: 1.5;
}

.title .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--darkteal);
  display: block;
}

.title h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* contact styling */
.contact-container {
  background-color: var(--plum);
}

#contact {
  background-color: var(--plum);
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
  max-width: 1200px;
}

#contact a {
  color: var(--white);
  text-decoration: none;

}

#contact a:hover {
  color: var(--magenta);
  transform: scale(1.1);
}

#contact p:last-child {
  margin-top: 3rem;
}

/* NAVBAR STYLE */

.nav-bar {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  font-family: var(--mono);
  font-size: 80%;

}

.nav-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
}

.nav-bar .nav-name a {
  font-family: var(--sans);
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

.nav-bar a:hover {
  color: var(--magenta);
}

span[class*="fa-"] {
  font-size: 150%;
  color: var(--teal);
}

span[class*="fa-"]:hover {
  color: var(--magenta);
}

.nav-bar .nav-name a span[class*="fa-"] {
  font-size: 100%;
  justify-content: center;
}

.button {
  background-color: var(--brightred);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
}

.button:hover {
  background-color: var(--teal);
  color: var(--magenta);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

footer {
  max-width: 1200px;
  margin: 0 auto;
}

/* footer style */

.footer-container {
  background-color: var(--black);
}

footer {
  text-align: center;
  font-family: var(--mono);
  font-size: 80%;
  background-color: var(--black);
  padding: 2rem;
}

footer h2 {
  flex-basis: 100%;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  font-size: 2rem;
}

/* div breaks */

.break  {
  height: .15rem;
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 75%, rgba(0,212,255,1) 100%);
  background-size: 400%;
  animation: gradient 10s infinite;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {background-position: 75%;}
  100% {background-position: 9%;}
}

/* Project Page Style */

.section-dkblue {
  background-color: var(--dkblue);
}

#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.description {
  background-color: var(--black);
  border-radius: 10px;
  padding: 1rem;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  gap: 1rem;
  list-style: none;
  justify-content: flex-start;
  margin: 0 0 2rem 0;
  padding: 0;
}

.project-img {
  padding: 3px;
}

img {
  width: 100%;
}

@media (min-width: 850px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0 2rem 0;
  }
  .project-text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  .project-img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
}
#projects .reverse .project-text {
  grid-column: 1/7;
  order: 2;
  text-align: left;
}
#projects .reverse .project-img {
  grid-column: 6/11;
  grid-row: 1/2;
}
#projects .reverse ul {
  justify-content: flex-start;
}
